@font-face {
  font-family: "Alien";
  src: url("./alien.ttf") format("truetype");
}

@font-face {
  font-family: "Exodar";
  src: url("./Exodar.ttf") format("truetype");
}

@font-face {
  font-family: "PFW";
  src: url("./ProFontWindows.ttf") format("truetype");
}

// .norm {
//     font-family: 'PFW';
// }

body {
  color: lightsteelblue;
  font-family: "PFW";
  background-image: url("../images/BG.jpg");
  .kave {
    &-btn {
      padding-left: 1em;
      padding-right: 1em;
      position: relative;
      border: solid 1px rgba(0, 214, 252, 0.3);
      background: none;
      color: rgba(0, 214, 252, 0.5);
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 1.8px;
      width: auto;
      height: auto;
      transition: all 0.25s ease;
      outline: none;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 10%;
        width: 60px;
        height: 1px;
        transform: translateY(-1px);
        background: rgba(0, 214, 252, 1);
        transition: all 0.25s ease;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 10%;
        width: 60px;
        height: 1px;
        transform: translateY(1px);
        background: rgba(0, 214, 252, 1);
        transition: all 0.25s ease;
      }

      &:hover {
        box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
        color: rgba(0, 214, 252, 1);
        text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
        background-color: rgba(0, 38, 99, 0.8);

        &.kave-btn:before {
          left: 0;
          width: 20px;
        }

        &.kave-btn:after {
          right: 0;
          width: 20px;
        }

        .kave-line:before {
          bottom: 0;
        }

        .kave-line:after {
          top: 0;
        }
      }
    }

    &-line {
      &:before {
        content: "";
        position: absolute;
        bottom: 30%;
        right: 0;
        width: 1px;
        height: 20px;
        transform: translateX(1px);
        background: rgba(0, 214, 252, 1);
        transition: all 0.25s ease;
      }

      &:after {
        content: "";
        position: absolute;
        top: 30%;
        left: 0;
        width: 1px;
        height: 20px;
        transform: translateX(-1px);
        background: rgba(0, 214, 252, 1);
        transition: all 0.25s ease;
      }
    }
  }
}

* {
  //border: 1px green solid;
}
.navbar {
  margin-bottom: 1rem;
  box-shadow: 0px 0.3rem 0.7rem #0e2050;
  font-family: "Exodar";
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: larger;
  background-image: url("../images/NavBG.jpg");
  background-size: 100% 100%;

  .navbar-toggler {
    border: 2px whitesmoke solid;
    box-shadow: 2px 2px 5px whitesmoke;
  }
  .myMenuPoint > a,
  .myTitle {
    color: whitesmoke;
    text-decoration: none;
  }
  .nav-item .dropdown-menu {
    background: rgba(0, 0, 0, 0.5);
  }

  .nav-item .dropdown-item {
    font-weight: bold;
    color: whitesmoke;
    a {
      color: whitesmoke;
      text-decoration: none;
    }
  }
  .dropdown-divider {
    border-top: 2px solid rgba(255, 255, 255, 1);
  }
  .dropdown-item:hover {
    background: rgba(0, 38, 99, 0.8);
  }
  .myMenuPoint > a:hover {
    color: white;
    text-shadow: 0px 2px 5px white;
    animation: float 5s ease-in-out infinite;
  }
  .myTitle:hover {
    color: white;
    text-shadow: 0px 2px 5px white;
    animation: float 5s ease-in-out infinite;
  }
  .alien {
    font-family: "Alien" !important;
  }
}
.brandImage {
  height: 4em;
}
.myCenter {
  display: flex;
  align-items: center;
}

.myTitle {
  margin-left: 2rem;
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.myMenuPoint {
  padding-right: 2rem !important;
}
.myDropDownText > a {
  color: whitesmoke !important;
}
.CityImg {
  box-shadow: 0px 0px 10px 5px white;
  width: 100%;
}
.CityMap {
  width: 100%;
}
// h2{
//     div {
//         animation: glitch 1s linear infinite;
//     }

//     @keyframes glitch {

//         2%,
//         64% {
//             transform: translate(2px, 0) skew(0deg);
//         }

//         4%,
//         60% {
//             transform: translate(-2px, 0) skew(0deg);
//         }

//         62% {
//             transform: translate(0, 0) skew(5deg);
//         }
//     }

//     div:before,
//     div:after {
//         content: attr(title);
//         position: absolute;
//         left: auto;
//         right: auto;
//     }

//     div:before {
//         animation: glitchTop 1s linear infinite;
//         clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
//         -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
//     }

//     @keyframes glitchTop {

//         2%,
//         64% {
//             transform: translate(2px, -2px);
//         }

//         4%,
//         60% {
//             transform: translate(-2px, 2px);
//         }

//         62% {
//             transform: translate(13px, -1px) skew(-13deg);
//         }
//     }

//     div:after {
//         animation: glitchBotom 1.5s linear infinite;
//         clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
//         -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
//     }

// }
